.navBar {
  &__item {
    display: flex;
    align-items: center;
    color: black;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    border-radius: 1px;
    padding: 0;

    &--active {
      padding: 0 5px;
      border-color: lightgreen;
      transition: all 0.5s;
    }

    &:hover {
      color: rgb(133, 127, 138);
      transition: all 0.5s;
    }
  }
}
